* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    min-width: 350px;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 1em;
}

.header a{
    text-decoration: none;
    color: #26255B;
    font-size: 16px
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: #26255B;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background-color: #26255B;
    background-size: cover;
    height: 200px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 40px;
    line-height: 1;
    color: #26255B;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 18px;
    line-height: 20px;
    color: #26255B;
    text-overflow: ellipsis;
    padding-bottom: 15px;
}
