*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    background: #ffffff;
}
::-webkit-scrollbar{
    display: none;
}
.main{
    padding: 0;
    margin: 0;
    background-color: #26255B;
}
.form-container{
    margin-top: -10px;
}
.form{
    width: 500px; 
    border-radius: 30px;
    padding:65px 80px;
    margin: 45px 80px;
}
.form-header{
    padding: 0 30px;
}
.heracles-logo{
    padding-top: 0px;
    width: 200px;
    margin: 20px 10px;
}
.form-header h1{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.fc{
    font-size: 14px;
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #26255B;
    transition-property: border-bottom;
}
.fc:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid #26255B;
}

.btn{
    background-color:  #26255B;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
}
.text-dark{
    font-weight: 700; 
    color: #26255B;
}
.text-dark:hover{
    text-decoration: none;
}

.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
@media(max-width:720px){
    .mobile{
        margin: 0;
    }
    body{
        text-align: center;
    }
    .form{
        width: 420px;
        margin: 10% 20px;
    }
    .form-header{
        padding: 0px;
    }
    .heracles-logo{
        width: 200px;
        margin: 50px 0px;
    }
    .form-header h1{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    .register{
        font-size: 14px;
    }
    .email-content,.pwrd-content{
        font-size: 14px;
    }    
}
@media(min-width:780px){
    body{
        background: url('https://res.cloudinary.com/benjee/image/upload/v1569458979/Group_2_1_iznlwy.png') no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
