
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

body {
    background-color: #5a4fcf;
    background-size: cover;
    background-repeat: no-repeat;
}

/* The class .signup is used to make all style affect the signup page only */
.signup form {
    background: white;
    max-height: 1000px; 
    border-radius: 25px;
    padding: 25px 50px;
    margin: 25% 50px;
}

.signup form h1 {
    color: #5a4fcf;
    font-weight: bolder;
    margin: 10px 0px 20px;
}

.signup form p {
    color: black;
    text-align: center;
    margin: 10px;
    }
    
.signup form a{
    text-decoration: underline;
    font-weight:bold;
    color: #5a4fcf;    
}

.signup label {
    color: #5a4fcf;
}

.signup input {
border: none;
border-bottom: 2px solid #5a4fcf;
display: block;
outline: none;
padding: 10px 0px 1px;
margin: 10px 0px 25px;
width: 90%;
color:white;
font-size: 20px;
}

.signup input:focus {
outline: none;
color: #5a4fcf;
} 

.signup input[type=submit]{
    border: none;
    border-radius: 25px;
    display: block;
    background: #5a4fcf;
    padding: 10px 15px;
    width: 50%; 
    color: white;
    text-weight: bolder;
    margin: 15px auto 10px;
    }
