*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    position: relative;
    background-color: #26255B;
}
.main{
    padding: 0;
    margin: 0;
    background-color: #26255B;
}
.form{
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 10%;
    min-width: 400px;
    min-height: 400px;
    
}
.form{
    padding: 60px 40px;
}
.fc{
    border: none;
    border-bottom: 1px solid #26255B;
    transition-property: border-bottom;
}
.fc:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid #26255B;
}
.btn{
    background-color:  #26255B;
    border-radius: 20px;
    color: #ffffff;
}