

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif !important;
}
::-webkit-scrollbar{
    display: none;
}
/* The class .signup is used to make all style affect the signup page only */
h1{
    margin-bottom: 10px;
}
.signup-form{
    background: white;
    width: 500px;
    border-radius: 30px;
    padding:70px 80px;
    margin: 45px 80px;
}
.form-header{
    margin-top: 0;
    padding: 0 30px;
}
.heracles-logo{
    padding-top: 0px;
    width: 200px;
    margin: 20px 10px;
}
.form-header h1{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.login-control{
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #26255B;
    transition-property: border-bottom;
}
.login-control:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid #26255B;
}
.btn{
    width: 80%;
    margin: 10px 20px;
    background-color:  #26255B;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    border: #26255B;
}

#error{
    margin-bottom: 20px;
    padding: 0px;
    background:red;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    color: #fff;

}
.btn:hover{
    background-color: #26255B;
    color: #fff;
    outline: none;
}
.btn:active{
    background-color: #ffffff;
    color: #26255B;
}
.text-dark{
    font-weight: 700; 
    color: #26255B;
}
.text-dark:hover{
    text-decoration: none;
}
.input-control{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.input-control input{
    width: 100%;
}

@media(max-width:720px){
    body{
        text-align: center;
    }
    input[type="text"]{
        margin-bottom: 0;
    }
    .signup-form{
        width: 90%;
        padding: 0;
        margin-left: 15px;
    }
    .heracles-logo{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .form-header h1{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    .register{
        font-size: 14px;
    }
    .login-control{
        font-size: 15px;
        padding: 0;
    }
    .input-control{
        display: block;
    }
    .login-content{
        margin: 0;
    }
}

@media(min-width:780px){
    body{
        background: url('https://res.cloudinary.com/benjee/image/upload/v1569458979/Group_2_1_iznlwy.png') no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
