.login-container{
    min-height: 100px;
}
.login-bg{
    background: url('https://res.cloudinary.com/benjee/image/upload/v1569283278/Vector_dgyn22.png') no-repeat center;
    background-size: cover;
    width: 90%;
}
.login-form{
    text-align: center;
    background-color: #ffffff;
    border-radius: 30px;
    height: 85%;
    width: 65%;
    padding: 10%;
    margin: 10%;
}
.form-header h1{
    font-size: 25px;
    margin-bottom: 20%; 
}
.login-control{
    border-bottom: 2px solid #26255B;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    outline: none;
    width: 80%;
}
.login-btn{
    width: 80%;
    border-radius: 20px;
    background-color: #26255B;
    border: #26255B;
}
.login-btn:hover{
    background-color: rgb(20, 20, 48);
}
.login-content{
    margin: 2% 0%;
    padding: 4% 0;
}
.login-image{
    height: 80%;
}