/* Prefixes added to support all browsers */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 300px;
    background: url("images/Vector.png");
    background-position: left top;
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.jumbotron {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}
    
.jumbotron > header > h2 {
    color: #3C3A81;
    font-weight: 800;
    font-size: 1.6em;
    word-spacing: 7px;
    margin: 20px 0;
}
    
.article {
    color: #3C3A81;
    font-size: 16px;
}
    
.action {
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
    
.action > a {
    width: 120px;
    height: 35px;
    border-radius: 11px;
    display: inline-block;
    margin-right: 30px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
    
#get-started {
    background-color:#26255B;
    color: #fff;
}
    
#login {
    background-color: #fff;
    border: 1px solid #26255B;
    color: #26255B;
    font-weight: 800;
}
    
footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background: url("images/Vector.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
} 

@media only screen and (min-width: 321px)  {
/* smartphones, Android phones, landscape iPhone */
    .jumbotron {
        margin-top: 450px;
        padding: 0 10px;
    }

    footer {
        width: 50%;
        height: 50px;
        position: fixed;
        bottom: 0;
        right:1px;
        background: url("images/Vector.png");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg);
    }
} 

@media only screen and (min-width: 768px)  {
    /* smartphones, Android phones, landscape iPhone */
    .jumbotron {
        margin-top: 450px;
        padding: 0 10px;
    }
    
    footer {
        width: 50%;
        height: 250px;
        position: fixed;
        bottom: 0;
        right:1px;
        right:1px;
        background: url("images/landing_page_bottom_component_y1evvf.svg");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(0deg);
    }
}

@media only screen and (min-width: 900px)  {
/* smartphones, Android phones, landscape iPhone */
    .jumbotron {
        margin-top: 450px;
        padding: 0 10px;
    }
    
    footer {
        width: 50%;
        height: 350px;
        position: fixed;
        bottom: 0;
        right:1px;
        background: url("images/landing_page_bottom_component_y1evvf.svg");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(0deg);
    }
}

@media only screen and (min-width: 1045px)  {
/* smartphones, Android phones, landscape iPhone */
.container {
    width: 100%;
    height: 300px;
    background: url("images/Vector.png");
    background-position: left top;
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}     

    .jumbotron {
        margin-top: 500px;
        margin-left: 350px;
        padding: 0 10px;
        background: white;
    }
    
    footer {
        width: 50%;
        height: 450px;
        position: fixed;
        bottom: 0;
        right:0px;
        background: url("images/landing_page_bottom_component_y1evvf.svg");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(0deg);
    }
}

